<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>RVS intranet</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="https://ess.sagesouthafrica.co.za/">Sage Login</a>
        <a mat-list-item (click)="gotoPolicies()">HR Polices</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>