

<p>Human resource (HR)  describe the rights, responsibilities, and expected behaviors when it comes to working together. Our company has these HR policies and procedures in place : </p>

<table class="styled-table">
    <thead>
        <tr>
            <th>Policy Links</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a>Security Policy</a></td>
        </tr>
        <tr>
            <td><a>Recognition Policy</a></td>
        </tr>
        <tr>
            <td><a>Performance management</a></td>
        </tr>
        <tr>
            <td><a>Relocation Policy</a></td>
        </tr>
        <tr>
            <td><a>POPI Act Policy</a></td>
        </tr>
        <tr>
            <td><a>Nepotism Policy</a>Dom</td>
        </tr>
        <tr>
            <td><a>Fraud Policy</a></td>
        </tr>
        <tr>
            <td> <a>Gravievance Policy</a></td>
        </tr>
        <tr>
            <td><a>Dress Code Policy</a></td>
        </tr>
        <tr>
            <td> <a>Acceptable use Policy</a></td>
        </tr>
        <tr>
            <td><a>Working Hours</a></td>
        </tr>
        <tr>
            <td> <a>Substance Abuse Policy</a></td>
        </tr>
      
        <!-- and so on... -->
    </tbody>
</table>
